<!DOCTYPE html>
<html>
  <head>
    <title>User listing from MongoDB></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Email Listing from Mongo</h1>
    <p>Bio Listing:<%= userlist %></p>
  </body>
</html>
